.a_p_p_Display{
    border-radius: 30px;
    opacity: .5;
    backdrop-filter: blur( 4px );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
